doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8; width=device-width; initial-scale=1.0')
    link(rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css")
    link(rel='stylesheet', href='stylesheets/index.css')
  body

    h1 Statistiken
    table
      tr
        th(style="text-align: right;") Token insgesamt:
        td#count-total
        td
          a(href='./api/users?download&format=csv') [CSV]
        td
          a(href='./api/users' target='_blank') [API]
      tr
        th(style="text-align: right;") Token newsletter:
        td#count-newsletter
        td
          a(href='./api/newsletter?download&format=csv') [CSV]
        td
          a(href='./api/newsletter' target='_blank') [API]

    h1 Mailingliste
    table#user-table.compact.striped.order-column.hover(data-page-length='100', data-scroll-x='true', width='100%')
      thead
        tr
          th Email
          th(data-visible="false") Jahr
          th Newsletter
          th Anmeldung
      tbody

    h1 Newsletter
    table#newsletter-table.compact.striped.order-column.hover(data-page-length='100', data-scroll-x='true', width='100%')
      thead
        tr
          th Email
          th(data-visible="false") Jahr
          th(data-visible="false") Newsletter
          th Anmeldung
      tbody

    script(src='https://code.jquery.com/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous')
    script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js")
    script(src='./js/admin.js')
