/**
 * configuration template for ErstiWeTool
 */

module.exports = {
  http_port: 3333,

  // affects the database queries & email templates
  year: 2017,

  // if you change these values, also change them in schema.sql !
  mysql: {
    database: 'ersti-mails',
    host: 'localhost',
    user: 'ersti-mails',
    password: 'test',
    connectionlimit: 25,
  },
};

